* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: 'objectivity';
	src: url(../assets/objectivity/Objective-Regular.otf);
}
@font-face {
	font-family: 'objectivity-bold';
	src: url(../assets/objectivity/Objective-Bold.otf);
}
@font-face {
	font-family: 'aeonik';
	src: url(../assets/aeonik/AeonikTRIAL-Regular.otf);
}
body {
	background: #fafafa;
	overflow-x: hidden;
	font-family: 'objectivity';
	color: #1e1e1e;
}
.max-page-width {
	max-width: 1440px;
	margin: auto;
	padding: 0 5%;
}
a {
	text-decoration: none;
}
input {
	font-size: 16px;
}
header {
	background: #f2f7f6;
}
.navBg {
	background: #fafafa;
}
header h1 {
	width: 1px;
	height: 1px;
	visibility: hidden;
	position: absolute;
}
.nav {
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 20px 0;
}
.nav img {
	border-radius: 50%;
	align-self: flex-start;
	width: 5rem;
	height: 5rem;
}
.nav li {
	display: inline-block;
}
.nav a {
	color: #000;
	margin-right: 30px;
	font-family: 'aeonik';
}
.nav .active {
	color: #00a790;
}
.nav .navlinks {
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: center;
}
.navlinks ul {
	width: 90%;
	text-align: center;
}
.navlinks li {
	display: inline-block;
}
.nav .fas {
	display: none;
}
.navlinks button {
	margin-left: auto;
}
.button {
	width: 276px;
	height: 60px;
	background: #00a790;
	border-radius: 8px;
	border: 1px solid;
	cursor: pointer;
	color: #fff;
	font-size: 1.2rem;
	font-family: inherit;
}
.reserve {
	background-color: rgba(0, 0, 0, 0.5);
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	gap: 30px;
	margin-bottom: 80px;
	padding: 0 5%;
	position: relative;
}
.reserve div {
	background-image: url(/images/homeBg6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -9;
}
.reserve h2 {
	font-size: 2rem;
	text-transform: capitalize;
}
.reserve p {
	font-family: 'aenik';
	font-size: 2rem;
}
.reserve a {
	color: #fff;
	border: 2px solid #ffffff;
	border-radius: 8px;
	padding: 19px 56px;
}
.member {
	padding: 60px;
	background: #f2f7f6;
	text-align: center;
	transform: translateY(80px);
}
.member > h2 {
	font-family: 'objectivity-bold';
	font-size: 2rem;
}

.popup {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: #fff;
	width: 500px;
	height: 350px;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	gap: 30px;
	border-radius: 8px;
	text-align: center;
	animation: popup 2s ease-in-out 0s forwards;
	transform: translateY(500px);
	z-index: 2;
}
@keyframes popup {
	from {
		transform: translateY(500px);
	}
	to {
		transform: translateY(0);
	}
}
.popup h2 {
	line-height: 2rem;
}
.popup i {
	position: absolute;
	right: 20px;
	top: 20px;
	font-weight: 800;
	font-size: 1.2rem;
	cursor: pointer;
}
.congrats {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	margin: 100px auto;
}

.congrats h2 {
	font-family: 'objectivity-bold';
	color: #00a790;
}
.congrats p {
	font-size: 1.5rem;
	text-align: center;
	line-height: 32px;
	max-width: 1000px;
}
.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 100px auto;
	font-size: 2rem;
	min-height: 40vh;
}
.error h2 {
	font-family: 'objectivity-bold';
	font-size: 5rem;
}
@media (max-width: 900px) {
	html {
		font-size: 14px;
	}
	.nav {
		padding: 10px 5%;
		box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
		background: #00a790;
	}
	.bodyUnscroll {
		overflow: hidden;
	}
	.nav .navlinks {
		position: fixed;
		top: 0;
		height: 100%;
		right: -100%;
		width: 60%;
		background-color: #00a790;
		z-index: 999;
		padding-top: 30%;
		transition: right 0.5s ease;
		flex-direction: column;
		justify-content: start;
		gap: 30px;
	}
	.nav .navlinksShown {
		right: 0;
	}
	.nav img {
		width: 4rem;
		height: 4rem;
	}
	.nav a {
		color: #fff;
	}
	.nav .active {
		color: #fff;
		padding: 0 5% 5px;
		border-bottom: 3px solid #fff;
	}
	.nav ul li {
		display: block;
		margin-bottom: 25px;
	}
	.navlinks button {
		width: 80% !important;
		max-width: 250px;
		margin-left: 0;
		text-align: center;
	}
	.nav .fas {
		display: block;
		color: #fff;
		font-size: 1.5rem;
	}
	.barIcon {
		margin-left: auto;
	}
	.xmarkIcon {
		position: absolute;
		top: 30px;
		right: 25px;
	}
	.overlay {
		display: flex;
		top: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		z-index: 9;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.7);
		position: fixed;
	}
	.popup {
		flex-direction: row;
		justify-content: flex-start;
		gap: 10px;
		width: 90vw;
		left: 5%;
		padding: 50px 15px;
		height: 50px;
		bottom: 5px;
	}
	.popup h2 {
		font-size: 1rem;
		line-height: normal;
	}
	.popup i {
		position: absolute;
		background-color: #000;
		border-radius: 50%;
		padding: 5px;
		color: #fff;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		right: 10px;
		top: 5px;
	}
	.popup .button {
		width: 180px;
		font-size: 1rem;
	}
}
